.jslevel
	display block
	padding-top 73px
.jslevel__descr
	flex 1
.jslevel__title
	margin 0 0 18px
	padding 0	
	font-family $font-bold
	font-size 24px
	color $font-color

.slider
	display flex		

.slider__list
	list-style none
	margin 0
	padding 0
	display flex
	text-align left
	width 100%	
.slider__item
	width 100%
	&:last-child 
		text-align right
.slider__element
	font-size 13px
	font-family $font-bold
	color $font-color