.date
	display block
	padding-top 73px
	margin-bottom 75px
.date__descr
	flex 1
.date__title
	font-family $font-bold
	font-size 24px
	color $font-color
	display inline-flex
	padding-right 2%
.date__date
	display inline-flex
	position relative
	padding 0 2%
	font-family $font-reg
	font-size 30px
	&:after 
		content ''
		background-image url(../img/texture-brown.png)
		width 100%
		position absolute
		display block
		bottom 0
		left 0
		height 2px