@font-face
	font-family 'pt_sans_bold'
	src url('../fonts/pt_sans_bold-webfont.eot')
	src url('../fonts/pt_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pt_sans_bold-webfont.woff2') format('woff2'),
		 url('../fonts/pt_sans_bold-webfont.woff') format('woff'),
		 url('../fonts/pt_sans_bold-webfont.ttf') format('truetype')
	font-weight normal
	font-style normal

@font-face
	font-family 'pt_sans_regular'
	src: url('../fonts/pt_sans_regular-webfont.eot')
	src: url('../fonts/pt_sans_regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pt_sans_regular-webfont.woff2') format('woff2'),
		 url('../fonts/pt_sans_regular-webfont.woff') format('woff'),
		 url('../fonts/pt_sans_regular-webfont.ttf') format('truetype')
	font-weight normal
	font-style normal