$default-bg = #797979
$bg-color = #eece9b
$accent-color = #1f5f97
$font-color = #2f1b15
$font-color-light = #231f20
$font-color-gray = #3d3d3d
$font-color-black = #000000


$font = 'pt_sans_regular'
$font-bold = 'pt_sans_bold'
$font-reg =  'Courier New'