extends /blocks/layout-default/layout-default
include ../blocks/header/header
include ../blocks/main/main
include ../blocks/title/title
include ../blocks/candidate/candidate
include ../blocks/skills/skills
include ../blocks/jslevel/jslevel
include ../blocks/explanation/explanation
include ../blocks/purpose/purpose
//- include ../blocks/date/date


block head
	- var pageTitle = 'CSSSR Project Template';

block content
	+header
	+main 
		+title 
		+candidate(getData('candidate'))
		+skills(getData('skills'))
		+jslevel
		+explanation(getData('explanation'))
		+purpose(getData('purpose'))
		//- +date

