.page
    background-color $default-bg
    font-family $font
    display flex
    flex-direction column
    width 100%
    height 100%
    position absolute
    margin 0
    line-height 1.5
    font-size 15px
    overflow-y scroll