.explanation
	display block
	padding-top 73px
.explanation__descr
	flex 1
.explanation__title
	margin 0 0 18px
	padding 0	
	font-family $font-bold
	font-size 24px
	color $font-color
.explanation__help
	margin 0
	color $font-color-gray
	font-size 15px	
	line-height 23px	
	text-align left


.textarea
	display flex	
	padding-top 35px
.textarea__text
	width 100%	
	background-color transparent
	height 100%
	overflow auto
	white-space normal
	border none
	line-height 60px
	font-family $font-reg
	font-size 30px 
	background-image url(../img/bottomborder.png)
	&:focus
		outline none
		max-height 100%
	